body {
    margin: 0;
    background-size: 100%;
    background-image: url(../images/background.jpg);
}

a {
    list-style: none;
}

.b-header {
    height: 75px;
}


.b-header__nav {
    /*margin-top: 5px;*/
    float: right;
    background-color: black;
    width: 100%;
}

.b-header__link {
    color: white;
    padding: 10px 1%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    min-width: 6%;
}

.b-header__link:hover {
    background-color: #42B881;
}

/*******************************/

.article {
    width: 100%;
}

.b-title {
    text-align: center;
    margin-bottom: 30px;
}

.b-title img{
    width: 50%;
}

.b-search {
    width: 30%;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.b-search__input {
    width: 80%;
    height: 100%;
    border-radius:30px;
    border:1px solid black;
    font-size: 14px;
    padding-left: 20px;
}

.b-search__input:hover, .b-search__button:hover{
    box-shadow: 5px 5px 15px 5px #dcdcdc;
  }

.b-search__input:focus-within{
    box-shadow: 5px 5px 15px 5px #dcdcdc;
    outline: none;
  }

.b-search__button {
    margin-left: 20px;
    width: 40px;
    height: 100%;
    padding: 1px;
    background-image:url(../images/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.b-filters {
    height: 30px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
    /*background-color: yellow;*/
}

.b-list {
    width: 90%;
    background-color: whitesmoke;
    margin: auto;
    border: 5px solid black;
    margin-bottom: 25px;
}

.b-list__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.b-list__column {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 10px 1%;
}

.b-list__image {
    width: 30%;
    height: auto;
    float: left;
    padding: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.b-list__text {
    width: 60%;
    height: 80%;
    align-items: center;
    float: right;
    border: 2px solid black;
    padding: 2%;
    font-size: 1.1em;
}

.b-list__text--bold{
    font-weight: bold;
}

.b-list__hero {
    background-color: rgb(102, 92, 90);
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 335px;
    text-align: justify; 
}


/******************************/

.b-footer {
    width: 100%;
    height: 75px;
    left: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.b-footer__text {
    margin: 20px;
    color: white;
    font-size: 1.3em;
    list-style: none;
    
}
    

@media (max-width: 1300px) {
    .b-list {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .b-list__column {
        width: 96%;
    }
    .b-list__image {
        height: auto;
        margin-bottom: 0;
    }
    .b-search {
        width: 50%;
    }
    
    .b-title img{
        width: 100%;
    }
}



@media (max-width: 700px) {
    .b-list {
        width: 100%;
        background-color: whitesmoke;
        margin: auto;
        border: 5px solid black;
        margin-bottom: 25px;
    }
    .b-search {
        width: 80%;
    }

}